.personaje{
    text-align: center;
    font-size: 1.5rem;
    width: 20%;
    margin-top:3%;
    margin-left: 1%;
    background-color: darkgray;
    border-radius: 15px;
    text-decoration: none;
    padding-bottom: 3rem;
}

.personaje img{
    object-fit: cover;
    width:14rem;
    height: 14rem;
    border-radius: 50%;
    margin-bottom: 2.5rem;
}

a{
    text-decoration: none;
    color: white;
}