.lista{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: black;
    margin:12px;
    padding: 1rem;
    color: white;
    
}

.casas{
    background-color: grey;
    padding: 0.1rem;
}

li{
    display: flex;
    align-items: center;
    
}

.casas li {
    flex-direction: column;
}
img{
margin: 1rem;
width: 4rem;
}