.lista {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  background-color: black;
  margin: 2rem;
  padding: 1rem;
  width: 50%;
}

.lista a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.container {
  display: flex;
}

.casas {
  background-color: grey;
  padding: 0.1rem;
  width: 40%;
}

.imgcasas {
  border-radius: 50%;
}

li {
  display: flex;
  align-items: center;
}

.lista a {
  flex-direction: column;
}
.logo {
  margin: 1rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
