.title {
    margin-bottom: 1rem;
}

.personajes{
    display: flex;
    flex-wrap: wrap;
    margin: 0% 8%;
    justify-content: space-evenly;
}

div{
    text-align: center;
}

.pages{
    display: flex;
    justify-content: space-between;
    margin: 5% 12%;
    
}

.pages span{
    font-size: 1.2rem;
    font-weight: 600;
}