.personajes{
    display: flex;
    flex-wrap: wrap;
    margin: 0% 8%;
    justify-content: space-evenly;
}

div{
    text-align: center;
}

.pages{
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
}